body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 15px;
  background-color: #f5f5f5;
  font-size: 1rem;
}
header {
  background: #3a0;
  color: white;
  padding: 40px 20px;
  border-radius: 10px;
  text-align: center;
}
nav {
  background-color: white;
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  display: none; 
}
nav.show-nav {
  display: block;
}
nav ul {
  padding: 0;
  list-style: none;
}
nav ul li {
  margin: 10px 0;
}
nav ul li a {
  text-decoration: none;
  color:#3a0 ;
  font-weight: bold;
}
main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
article, aside {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}
.grid-container .item {
  background: white;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 0 5px #3a0;
  transition: 0.3s;
}
.grid-container .item:hover {
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0 5px 15px rgba(0,0,255,0.3);
}
footer {
  margin-top: 40px;
  text-align: center;
  color: #3a0;
}

@media (min-width: 768px) {

  nav {
    display: block; 
  }
  main {
    flex-direction: row;
  }
  article {
    flex: 2;
  }
  aside {
    flex: 1;
  }
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  body {
    font-size: 1.1rem;
  }
}
@media (min-width: 1200px) {
  main {
    max-width: 1200px;
    margin: auto;
  }
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
  body {
    font-size: 1.2rem;
  }
}

.dark-mode {
    background-color: #111;
    color: green;
    transition: 0.3s;
}